body,
html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

:root {
    --font-weight-thin: 400;
    --font-weight-medium: 600;
    --text-2xl: 1.4rem;
}

div.service-block {
    row-gap: 0.2rem;
}

div#information-widgets>*>*>* {
    padding: 0 0.5rem;
}

div#widgets-wrap {
    row-gap: 1rem;
}

div.information-widget-greeting>* {
    margin-right: 0;
}

div#footer {
    display: none;
}

a.service-icon {
    width: calc(var(--spacing) * 9) !important;
}

a.service-icon>img {
    width: 26px !important;
    height: 26px !important;
}

a.service-icon[aria-label="avm-fritzbox.svg"]>img {
    width: 32px !important;
    height: 22px !important;
    object-position: right;
}

details:has(>summary) {
    display: none;
}
