body,
html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

:root {
    --font-weight-bold: 600;
    --text-2xl: 1.4rem;
}

div.service-block {
    row-gap: 0.2rem;
}

div#information-widgets>*>*>* {
    padding: 0 0.5rem;
}

div#widgets-wrap {
    row-gap: 1rem;
}

div.information-widget-greeting>* {
    margin-right: 0;
}

div#footer {
    display: none;
}

a[aria-label="avm-fritzbox.svg"]>img {
    height: 22px !important;
    object-position: right;
}
